*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}
header{
    background-color: rgba(11, 11, 11, 0.895);
    height: 100px;
}
.links-navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-top: 10px;
}
.links-navegacao .logo{
    margin-right: 380px;

}
.logo img{
    width: 60px;
    padding-top: 10px;
}
a{
    color: white;
    font-size: 1.4rem;
    padding: 20px;
    text-decoration: none;
}
a:hover{
    color: rgba(204, 195, 195, 0.91);
}

main h1{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}